<div class="homepage-three-points">
	<div class="head-text">
		<h1>FizzBuzz | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class="container">
		<div class="furry-babies">
			<img src="img/kratos_flying_pie.jpg" title="Kratos Flying Pie" alt="My cat Kratos Flying Pie" id="kratos">
		</div>
		<div class="programming-container">
			<h3 class="programming-header">Kratos Tips: FizzBuzz</h3>
			<p class="programming-text">
				<%= statement %>
			</p>
			<hr class="programming-break">
			<a href="/fizzbuzz">Try Again</a>
		</div>
	</div>
</div>