<div class='homepage-three-points'>
	<div class='head-text'>
		<h1>Factorials | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class='container'>
		<div class='furry-babies'>
			<img src='img/flash_nugs.jpg' title='Flash Nuggets' alt='My dog Flash' id='flash'>
		</div>
		<div class='flash-container'>
			<h3 class='programming-header'>Flash Tips: Factorials</h3>
			<p class='programming-text'>
				Today, Professor Flash, is going to teach you about Factorials. What's Factorials you say? In mathematics, the factorial of a non-integer n, denoted by n!, is the product of all <u>positive integers</u> less than or equal to n. Want to learn more, well then check out the <a href='https://en.wikipedia.org/wiki/Factorial' target='blank' class='programming-link'>Factorial Wiki</a>
			</p>
			<hr class='programming-break'>
			<p class='programming-text'>Type in a number to see Factorials in action<p>
			<form action='/factorial' method='post'>
				<input type='number' name='factorial_number' autofocus='autofocus'>
				<input type='submit' class='submit-button'>
			</form>
		</div>
	</div>
</div>