<div class="homepage-three-points">
	<div class="head-text">
		<h1>Fibonacci | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class="container">
		<div class="furry-babies">
			<img src="img/nacho_donut.jpg" title="Nacho Donut" alt="My cat Nacho" id="nacho">
		</div>
		<div class="programming-container">
			<h3 class="programming-header">Nacho Tips: Fibonacci</h3>
			<p class="programming-text">
				Today, Professor Nacho, is going to teach you about the Fibonacci Sequence. What's the Fibonacci Sequence you say? In mathematics, the Fibonacci numbers are the numbes in the following integer sequence, called the Fibonacci Sequence, and characterized by the fact that, every number after the first two is the sum of the two preceding ones. Want to learn more, well then check out the <a href="https://en.wikipedia.org/wiki/Fibonacci_number" target="blank" class="programming-link">Fibonacci Wiki</a>
			</p>
			<hr class="programming-break">
			<p class="programming-text">Type in a number to see the Fibonacci Sequence in action<p>
			<form action="/fibonacci" method="post">
				<input type="number" name="fibonacci_number">
				<input type="submit" class="submit-button">
			</form>
		</div>
	</div>
</div>