<div class="homepage-three-points">
	<div class="head-text">
		<h1>FizzBuzz | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class="container">
		<div class="furry-babies">
			<img src="img/kratos_flying_pie.jpg" title="Kratos Flying Pie" alt="My cat Kratos Flying Pie" id="kratos">
		</div>
		<div class="programming-container">
			<h3 class="programming-header">Kratos Tips: FizzBuzz</h3>
			<p class="programming-text">
				Today, Professor Kratos, is going to teach you about FizzBuzz. What's FizzBuzz you say? FizzBuzz is a programming task which prints the numbers from 1 to 100, but for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz". Want to learn more, well then check out the <a href="https://en.wikipedia.org/wiki/Fizz_buzz" target="blank" class="programming-link">FizzBuzz Wiki</a>
			</p>
			<hr class="programming-break">
			<p class="programming-text">Type in a number to see FizzBuzz in action<p>
			<form action="/fizzbuzz" method="post">
				<input type="number" name="fizzbuzz_number">
				<input type="submit" class="submit-button">
			</form>
		</div>
	</div>
</div>