<header class="bgimage">
</header>

<div class="homepage-three-points">
	<div class="three-point-container">
		<div class="point-first">
			<h3><a href="/fizzbuzz">FizzBuzz</a></h3>
			<hr class="style-one">
			<p class="point-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa incidunt, fugiat ad reprehenderit facilis adipisci.</p>
		</div>
		<div class="point-second">
			<h3><a href="/factorial">Factorial</a></h3>
			<hr class="style-one">
			<p class="point-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa incidunt, fugiat ad reprehenderit facilis adipisci.</p>
		</div>
		<div class="point-third">
			<h3><a href="/fibonacci">Fibonacci</a></h3>
			<hr class="style-one">
			<p class="point-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa incidunt, fugiat ad reprehenderit facilis adipisci.</p>
		</div>
	</div>
</div>