<div class='homepage-three-points'>
	<div class='head-text'>
		<h1>Fibonacci | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class='container'>
		<div class='furry-babies'>
			<img src='img/nacho_donut.jpg' title='Nacho Donut' alt='My cat Nacho' id='nacho'>
		</div>
		<div class='programming-container'>
			<h3 class='programming-header'>Nacho Tips: Fibonacci</h3>
			<p class='programming-text'>
				By definition, the first two numbers in the Fibonacci sequence are either 1 and 1, or 0 and 1, depending on the chosen starting point of the sequence, and each subsequent number is the sum of the previous two.
			</p>
			<hr class='programming-break'>
			<p class='programming-text'>Please enter a number <b>greater than or equal to 0</b>.<p>
			<form action='/fibonacci' method='post'>
				<input type='number' name='fibonacci_number'>
				<input type='submit' class='submit-button'>
			</form>
		</div>
	</div>
</div>