<div class="homepage-three-points">
	<div class="head-text">
		<h1>Factorials | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class="container">
		<div class="furry-babies">
			<img src="img/flash_nugs.jpg" title="Flash Nuggets" alt="My dog Flash" id="flash">
		</div>
		<div class="programming-container">
			<h3 class="programming-header">Flash Tips: Factorials</h3>
			<p class="programming-text">
				In mathematics, the factorial of a non-integer n, denoted by n!, is the product of all <u>positive integers</u> less than or equal to n.
			</p>
			<p class=programming-text>
				The defintion of the factorial function can also be extended to non-integer arguments, while retaining its most important properties; this involves more advanced mathematics, notably techniques from mathematical analysis.
			</p>
			<hr class="programming-break">
			<p class="programming-text">Please enter a number <b>greater than or equal to 0</b>.<p>
			<form action="/factorial" method="post">
				<input type="number" name="factorial_number">
				<input type="submit" class="submit-button">
			</form>
		</div>
	</div>
</div>