<div class='homepage-three-points'>
	<div class='head-text'>
		<h1>Fibonacci | The famous programming challenge</h1>
		<p>Programming | Keep Exploring</p>
	</div>
	<div class='container'>
		<div class='furry-babies'>
			<img src='img/nacho_donut.jpg' title='Nacho Donut' alt='My cat Nacho' id='nacho'>
		</div>
		<div class='programming-container'>
			<h3 class='programming-header'>Nacho Tips: Fibonacci</h3>
			<p class='programming-text'>
				<%= statement %>
			</p>
			<hr class='programming-break'>
			<button class='try-again'><a href='/fibonacci'>Try Again</a></button>
		</div>
	</div>
</div>